{% load static %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.5.2-web\css\all.min.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnergyEye</title>
    <link rel="icon" href="{% static 'images/logo3.png' %}">
    <link href="{% static 'bootstrap-5.3.3-dist\css\bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>

<style type="text/css">
    .footer-images {
        margin: auto;
        display: block;
        position: absolute;
        bottom: 0;
    }

    .footer-images .copyright {
        text-align: center;
    }

    #sidebar {
        position: -webkit-sticky;
        position: sticky;
        width: 13vw;
    }

    #SideText {
        color: white;
        text-decoration: none;
        font-size: 1.00vw;
    }


    #base_drop_down {
        display: none;
        opacity: 0;
        transition: opacity 5s ease, transform 0.5s ease;
        transform: translateY(-1px);
    }

    .nav-item:hover #base_drop_down {
        display: block;
        opacity: 1;
        transform: translateY(1.2);
        
    }
    .nav-item {
        position: relative;
    }

</style>


<body onload="startTime()">
    <!-- <div class="container"> -->
    <!-- </br> -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="z-index: 5; background-color: #23272b;"
        id="navbar_id">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <h2><b>EnergyEye</b></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_page' %}">{{ user.username }} <span
                                class="icon is-small"><i class="fa-solid fa-user"></i></span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_manual' %}" target="_blank"> Manual <span
                                class="icon is-small"><i class="fa-solid fa-circle-info"></i></span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>


                    {% else %}
                    <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'alarms' %}">
                        <marquee behavior="scroll" direction="left" style="width: 7vw;">{{ alarms_string }}</marquee> {{num_triggred_alarms }} <span class="icon is-small"><i class="fa-solid fa-bell"></i></span>
                    </a>

                    <div class="dropdown-menu" id="base_drop_down" aria-labelledby="dropdownMenuLink">
                            {% for alarm in alarm_record %}
                                <a class="dropdown-item" href="{% url 'alarms' %}">{{ alarm.alarm_device }}</a>
                            {% endfor %}
                    </div>
                </li>


                {% endif %}
                <li class="nav-item">
                    <spam class="nav-link active" id="Date"></spam>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Side Navbar Area -->
    {% if user.is_authenticated %}
    <div class="wrapper">
        <div class="columns">
            <aside class="column is-1 aside" id="sidebar">
                <nav class="menu">
                    <ul style="padding-top: 1rem; padding-left: 1vw;">
                        <li><a id="SideText" href="{% url 'dashboard' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-square-poll-horizontal"></i></span> &nbsp; Dashboard</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'devices' %}"><span class="icon is-small"><i
                                        class="fa fa-desktop"></i></span> &nbsp; Devices</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'addresses' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-terminal"></i></span>
                                &nbsp; Register Addresses</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'data_logs_devices' %}"><span class="icon is-small"><i
                                        class="fa fa-table"></i></span>
                                &nbsp; Data logs</a></li>
                        <br>

                        <!-- <li><a id="SideText" href="{% url 'charts' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-chart-line"></i></span> &nbsp; Charts</a></li> -->
                        <!-- <br> -->
                        <li><a id="SideText" href="{% url 'alarms' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-triangle-exclamation"></i></span> &nbsp; Alarms</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'reports' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-newspaper"></i></span> &nbsp; Reports</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'diagrams' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-diagram-project"></i></span> &nbsp; Diagrams</a></li>
                        <br>
                        <li><a id="SideText" href="{% url 'historical_data_logs' %}"><span class="icon is-small"><i
                                        class="fa-solid fa-box-archive"></i></span> &nbsp; Historical Data</a></li>
                    </ul>

                </nav>

                <img src="{% static 'images/logo3.png' %}" class="footer-images" alt="Sample image"
                    style="width: 50%; margin-left: 23%; margin-bottom: 40%;">

            </aside>

            <main class="column main" style="padding-bottom: 0%;">

                <br>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endif %}

                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>


    <script src="{% static 'bootstrap-5.3.3-dist\js\bootstrap.min.js' %}"></script>
</body>

<script>
    function startTime() {
        const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        let y = today.getFullYear();
        let mon = today.getMonth() + 1;
        let d = today.getDate();

        let dayName = days[today.getDay()];
        let monthName = months[mon - 1];

        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('Date').innerHTML = dayName + ", " + monthName + ", " + (mon) + "/" + d + "/" + y + "  " + h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>

</html>