{% extends 'base.html' %}
{% block content %}


<script>
    $('select').selectpicker();
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{{ form.media }}



<h1>Bill Electricity Calculator</h1>

<div class="row">
    <div class="col-11"
        style="background-color: #8b8b8b; margin-left: 1vw; padding-bottom: 2vh; border-radius: 20px; margin-top: 1vh; padding-top: 1vh;">

        <div class="">
            <br />

            <form method="POST" class="row g-4", style="background-color: white;">
                {% csrf_token %}
                <div class="col-md-3"> Devices
                    {{ form.report_device }}
                </div>
                <div class="col-md-3"> Measures
                    {{ form.report_measure }}
                </div>

                <button type="submit" class="btn btn-primary">Create Report</button>
            </form>
        </div>
    </div>
</div>

{% if measurements %}
    <h2>Report Results</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Device</th>
                <th>Measure</th>
                <th>First Value</th>
                <th>Last Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in measurements %}
                <tr>
                    <td>{{ item.device }}</td>
                    <td>{{ item.measure }}</td>
                    <td>{{ item.first_value }},  {{ item.first_time }}</td>
                    <td>{{ item.last_value }},  {{ item.last_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    $(document).ready(function () {
        function updateMeasureOptions() {
            var selectedDevices = $('#id_report_device').val();
            var allMeasures = $('#id_report_measure option');
            console.log(selectedDevices)
            allMeasures.each(function () {
                var measure = $(this);
                measureDevices = measure.val()

                if (selectedDevices == null) {
                    measure.hide();
                }
                else if (selectedDevices.some(device => measureDevices.includes(device))) {
                    measure.show();
                } else {
                    measure.hide();
                }
            });

            $('#id_report_measure').selectpicker('refresh');
        }

        $('#id_report_device').on('changed.bs.select', updateMeasureOptions);
        updateMeasureOptions(); // Initial call to set the correct state
    });
</script>



{% endblock %}